<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/united/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h3> Cari Iklan Baris</h3>
      <input type="text" class="form-control" placeholder="Masukkan kata kunci,eg: Jual Mobil BU,Jual Rumah Cepat">
    </div>
  </div>
</body>
</html>
